.vs/ProductosApiNet8.slnx/FileContentIndex/5438bdd7-3ff1-4e6b-b099-a3d27c35a2c5.vsidx
.vs/ProductosApiNet8.slnx/FileContentIndex/5438bdd7-3ff1-4e6b-b099-a3d27c35a2c5.vsidx
.vs/ProductosApiNet8.slnx/FileContentIndex/31ec4a32-24b3-44dc-9343-5f169d2a3f0b.vsidx
.vs/ProductosApiNet8.slnx/FileContentIndex/5438bdd7-3ff1-4e6b-b099-a3d27c35a2c5.vsidx
.vs/ProductosApiNet8.slnx/FileContentIndex/5438bdd7-3ff1-4e6b-b099-a3d27c35a2c5.vsidx
.vs/ProjectEvaluation/productosapinet8.projects.v10.bin
.vs/ProjectEvaluation/productosapinet8.metadata.v10.bin
.vs/ProductosApiNet8.slnx/v18/DocumentLayout.json
.vs/ProductosApiNet8.slnx/v18/DocumentLayout.backup.json
.vs/ProductosApiNet8.slnx/v18/.suo
.vs/ProductosApiNet8.slnx/FileContentIndex/eaa01b8b-6194-4cf0-9fce-d723ecd1e775.vsidx
.vs/ProductosApiNet8.slnx/FileContentIndex/d5009e8d-f971-4ea8-9bc4-20a76388321c.vsidx
.vs/ProductosApiNet8.slnx/FileContentIndex/a2819489-9392-404f-9d3d-01aee9042fed.vsidx
.vs/ProductosApiNet8.slnx/FileContentIndex/5438bdd7-3ff1-4e6b-b099-a3d27c35a2c5.vsidx
.vs/ProjectEvaluation/productosapinet8.projects.v10.bin
.vs/ProjectEvaluation/productosapinet8.metadata.v10.bin
.vs/ProductosApiNet8.slnx/v18/DocumentLayout.json
.vs/ProductosApiNet8.slnx/v18/DocumentLayout.backup.json
.vs/ProductosApiNet8.slnx/v18/.suo
.vs/ProductosApiNet8.slnx/FileContentIndex/eaa01b8b-6194-4cf0-9fce-d723ecd1e775.vsidx
.vs/ProductosApiNet8.slnx/FileContentIndex/5438bdd7-3ff1-4e6b-b099-a3d27c35a2c5.vsidx
/.vs
/.vs
